body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

#outer{
    margin-top:40px; 
    padding:10px;
}

#main{
    width: 780px;
    height: 200px;
    margin: 0px auto;
}

.background {
    fill: #F99;
    fill-opacity: 0.01;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

.arc {
    stroke-weight:0.1;
    fill: #4e8fff;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}

#test .arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}

#outer {
    background:#FFFFFF;
    border-radius: 5px;
    color: #000;
}

.radial {
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;

}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;

}

.dashboard-element-container{
    position: relative;
    float: left;
    width: 120px;
    margin: 70px;
}

.dashboard-element-container .c-top{
    position: absolute;
    top: 35px;
    width: 100%;
    text-align: center;
}
.dashboard-element-container .c-top h1{
    margin: 0;
    font-size: 15px;
    opacity: 0.4;
    text-transform: uppercase;
    font-weight: 100;
}
.dashboard-element-container .c-top h2{
    margin: 0;
    font-size: 19px;
    font-weight: 400;
}
.dashboard-element-container .c-bottom{
    width: calc(100% + 90px);
    font-size: 9px;
    position: absolute;
    top: 135px;
    margin: 0px 0px 1px -40px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dashboard-element-container .c-bottom .b-left{
    float: left;
}
.dashboard-element-container .c-bottom .b-right{
    float: right;
    text-align: right;
}

.dashboard-element-container .c-bottom .b-left h2,
.dashboard-element-container .c-bottom .b-right h2 {
    margin: 0
}

.dashboard-element-container .c-bottom .b-left h4,
.dashboard-element-container .c-bottom .b-right h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.5;
    margin-top: 3px;
}

.dashboard-element-container .graph {
    position: absolute;
    top: 29px;
}

.dashboard-element-container .graph-container {
    position: absolute;
    top: -6px;
    left: -3px;
    overflow: hidden;
    width: 126px;
    height: 124px;
    border-radius: 78px;
}

.radial-size-fix {
    transform: scale(1.2,1.2);
    top: 14px;
    position: relative;
}
